[2016-02-29 21:50] allisonmuise opened #15 "add toolbox description"

[2016-02-29 21:52] allisonmuise opened #16 "add description for zones tool"

[2016-02-29 21:53] allisonmuise opened #17 "add description for classification tool"

[2016-03-31 19:14] allisonmuise opened #45 "export to csv tool"

[2016-04-04 17:34] allisonmuise opened #50 "calculate half life and half distance"
The process involves using the output from the Incident Connections file (generated from the Repeat and Near Repeat Classification tool) and the following steps listed below.  I have then illustrated with examples using the Newcastle and Naperville data:
-	Task: I wish to calculate appropriate half distance and half life values for Prediction Zones, where the Spatial Range of Influence is D and th

[2016-04-04 17:34] #50 closed

[2016-04-04 17:34] allisonmuise opened #51 "Can't select date field"

[2016-04-04 17:34] #51 closed

[2016-04-04 19:19] allisonmuise opened #52 "calculate half life and half distance for all bands"

[2016-04-04 20:16] #52 closed

[2016-04-07 18:21] allisonmuise opened #53 "Folder parameter accepts xls and xlsx files as input"
add validation to tool of script to confirm value isdir

[2016-04-07 18:23] #53 closed

[2016-04-08 00:23] SCHNZP opened #54 "Cursor default back to spatial/temporal band entry fields"
Would it be possible to get the cursor to jump back to the field where you enter the spatial and temporal bands in the RNRC tool (to save time having to click it back in there to enter the next band)?

[2016-04-08 00:28] SCHNZP opened #55 "RNRC Tool - updated version fails to run"
Updated version of the RNRC Tool fails, but older version works, as per attached.
[Beta Testing SCHNZP RNRC Fail Issue.docx](https://github.com/Esri/crime-analysis-toolbox/files/209439/Beta.Testing.SCHNZP.RNRC.Fail.Issue.docx)

[2016-04-08 04:55] SCHNZP opened #56 "Same day NRs both classed as NR, no originator"
Ran the RNRC Tool on the Naperville dataset with parameters same as Spencer’s Introduction document, produced the same summary statistics and when mapped looked the same as Spencer’s ‘ArcMapExample’ mxd. But when I applied the same symbology based on “unique values, many fields” combining classification plus temporal band (as per screenshot) to both our mxds this showed pairs/groups of NRs which:

[2016-04-08 05:17] SCHNZP commented on #56
Further thoughts... I would favour one of the same day NRs to be classed as an originator but I don't have a solution as to how to determine which should be which. I'm not sure how Jerry Ratcliffe's Near Repeat Calculator dealt with this issue but it might shed some light? The output from the NRC has two binary columns: Originator Y/N and Near Repeat Y/N, so it was possible for an incident to be c

[2016-04-08 15:30] allisonmuise commented on #54
@SCHNZP
Unfortunately I do not have control over this behavior. I agree that it would make entry easier but this is part of the built-in behavior of the the Geoprocessing tool interface, which I can't control.

[2016-04-08 15:30] #54 closed

[2016-04-08 15:34] allisonmuise commented on #55
@SCHNZP : It looks like the script is not in the same relative location to the toolbox. The 'scripts' folder must be stored in the same location as the Crime Analysis Tools.tbx in order for the tool UI to know where it can find the script that it is feeding.

Can you send me a screenshot of Windows Explorer showing the location of the tbx and scripts folder?

[2016-04-08 15:45] allisonmuise opened #57 "remove check for xlsx from script,"
fix is redundant with added tool UI validation, adn causes errors in some cases.

[2016-04-08 15:52] #57 closed

[2016-04-08 15:53] allisonmuise commented on #55
@SCHNZP : I just submitted a fix for another issue with the classification tool that would have caused an error further down the line.

[2016-04-08 17:53] allisonmuise opened #58 "issue with python 3 compatibilitye and xrange"
cannot run classification in Pro due to xrange function

[2016-04-08 19:22] #58 closed

[2016-04-08 19:24] allisonmuise commented on #56
@SCHNZP : Chris and I noticed this as well. I've updated the scripts with one possible solution. Could you take a look and see if the results make sense? Essentially, it will only create one link between two features. The direction it comes across first determines which incident is O and which is NR.

[2016-04-08 19:32] allisonmuise commented on #45
done

[2016-04-08 19:32] #45 closed

[2016-04-10 22:34] SCHNZP commented on #55
Thanks! Resolved by putting all the toolboxes and scripts folders in the same folder. I have successfully run the latest update of the RNRC tool too.

[2016-04-10 22:49] SCHNZP commented on #56
Thanks. I have run the updated version and this solution works to ensure there's an O for each NR in those same day pairs. It isn't 100% consistent with the Ratcliffe NRC in determining which is O and which is NR for the same day offences. Oddly, sometimes they match, sometimes the Ratcliffe NRC identifies both as NRs, and sometimes what's O in the RNRC is the NR in the Ratcliffe NRC and vice vers

[2016-04-10 22:52] SCHNZP commented on #56
Apologies for the lack of a basemap - juggling working on my laptop that has the tools running but no internet access from the office (to use any basemaps), and my work PC that has internet but not the necessary versions of Arc!

[2016-04-11 01:51] SCHNZP opened #59 "NRs not showing up as NRs/connection criteria and visualisation"
I think I have found a few examples where NRs haven't been picked up. This is from running the most recent updated tool with the Naperville data but one of the examples appeared with the original tool too.Based on the dates (shown as labels) I think there should be connector lines as shown as dashed red lines below:
![image](https://cloud.githubusercontent.com/assets/18314779/14414448/3a0868fe-ffe

[2016-04-11 15:59] allisonmuise commented on #55
great!

[2016-04-11 15:59] #55 closed

[2016-04-11 16:48] allisonmuise commented on #56
No worries about the basemap! Honestly, when focusing so intently on the dots, their colors, and the connecting lines, it's easier (at least for me) to NOT have that extra background detail!

It doesn't surprise me that the GP tool sometimes agrees and sometimes disagrees with the NRC over which is O and which is NR.

Here is a bit of info on the tool's logic:
The tool builds each connection by so

[2016-04-11 17:27] allisonmuise commented on #59
@SCHNZP : Could you email me the graphic you attached above? amuise at esri.c o m
The compressed graphic is too fuzzy for me to read the date labels. Also, what is the spatial distance between the points, and what were the maximum spatial and temporal bands when the connections were created?

The connection criteria are:

Given a list of spatial bands A, B, and C where C is the largest and A is th

[2016-04-11 19:51] allisonmuise commented on #59
@SCHNZP : Great catch! You've found a flaw in the tool's logic. I need to find a way to find the 2nd closest incident when the actual closes causes a duplicate connection. I'll let you know once there is an update posted.

[2016-04-11 20:26] SCHNZP commented on #59
Thanks. I have emailed you the screenshot. The maximums were 1500 ft and 21 days. The top line is 933 ft and the bottom line is 504 ft.

Ok so the way I understand the criteria is that it's seeking the shortest connection distance wise, irrespective of temporal proximity so long as it's within Z days.

I think I would find it more useful for each NR to be connected to its earliest in time O (ie "o

[2016-04-12 00:08] SCHNZP opened #60 "Error 313 - Field Name 10 character limit on shapefiles"
So I'm now running the RNRC on local data. My usual workflow involves working with shp files rather than geodatabases and feature classes (a legacy issue in terms of how I learnt Arc and also it's been easier for analysts to grasp when teaching them the basics). So I went through my usual process of converting my data to shp files, then went to run the RNRC and came up with:
![image](https://cloud

[2016-04-12 00:53] SCHNZP commented on #60
Update: converted shp to gdb feature class and the tool ran successfully. 4133 records processed in just under 14 minutes on my ageing laptop.
![image](https://cloud.githubusercontent.com/assets/18314779/14446764/7240c45c-00ad-11e6-9bd1-23d233b10b3f.png)
![image](https://cloud.githubusercontent.com/assets/18314779/14446765/756d7cc4-00ad-11e6-8117-ffe0d78633de.png)

[2016-04-12 01:10] SCHNZP commented on #60
And another example: 3591 records, 18 minutes.
![image](https://cloud.githubusercontent.com/assets/18314779/14447004/e574db64-00af-11e6-8d00-3d341c0a9c2d.png)
![image](https://cloud.githubusercontent.com/assets/18314779/14447007/e7bc3eda-00af-11e6-9531-38f9541ff750.png)

[2016-04-12 15:33] allisonmuise commented on #60
The tool should run with shapefiles as well as feature classes. Updating those field names is a super easy fix. Would SPACEBAND and TIMEBAND be as clear as SPATIALBAND and TEMPORALBAND?

If you'd like to test this quickly to make sure there are no other issues with the shapefiles workflow you usually use, open the scripts folder and right-click the incident_classification.py file. Open it in IDLE

[2016-04-12 15:39] allisonmuise opened #61 "Calculate a field to group together incidents and connections of a single chain"
Will help symbolize/visualize each chain individually, allow for def queries that show specific chains, and allow points to line to create a single connection line if desired.

Connecting value should be ID of ultimate originator for maximum value.

[2016-04-12 15:49] allisonmuise commented on #59
@SCHNZP :

One additional change I'm working on is calculating a field with a value that will group together all incidents and connections that are part of each chain. If I can get that in, you will be able to do points to lines as you are describing. The connecting value could be (and I thing should be) the value of the ultimate originator, which would I think address two of your suggestions abov

[2016-04-12 19:28] SCHNZP commented on #56
Cool. I think that since there's no actual temporal clue to go on when it's same day it doesn't matter too much what the logic is that determines O or NR. What you describe, which is pretty arbitrary/random, actually makes more sense, I think, than a rule that says 'always make the westernmost point the O' which could skew one's interpretation towards thinking offenders always move in a west-east

[2016-04-12 20:01] SCHNZP commented on #59
@allisonmuise

Great! Re balancing time and space: If you think about the matrix output which has time along the top and space down the side to create the time x space cells, and if for a given NR there are multiple potential Os which would each fall somewhere in that matrix, then the rule could be that the O is the one that is closest in the matrix? So for example if Oa is 100m and 14 days, and O

[2016-04-12 20:22] allisonmuise commented on #56
@SCHNZP
OK - script has been updated. Instead of moving on immediately when it finds a duplicate connection, it first has another look around to see if there is another nearby incident that meets the criteria. If there is, it tries to build a connection to it. If that one is a duplicate as well, it looks again until there are either no other possibilities, or it finds a valid option. Please test!

[2016-04-12 20:36] SCHNZP commented on #60
Easy! That worked :-) Changed to SPACEBAND and TIMEBAND. DISTTOORIG is 10 characters - I left that as it was.

That same 3591 record dataset, same parameters as above, processed in 17m15s this time.

[2016-04-12 20:43] allisonmuise commented on #59
@SCHNZP I get where you're coming from, but the challenge with that is still how to weight space vs time. I don't think we can give 1 map unit (could be ft or m) the same weight as 1 time unit (day). In fact, in the graphic above, you've weighted it so that the influence to 4 days is ~= to 100 m.

 I wonder if we could use the user-defined spatial/temporal bands. Do you think 1 spatial band width

[2016-04-12 20:45] allisonmuise commented on #59
(FYI: I'm also going to pose this question to Spencer via email)

[2016-04-12 22:01] allisonmuise commented on #60
Sweet! I updated the field names in my last code update, too, so I'll close this.

[2016-04-12 22:01] #60 closed

[2016-04-12 22:22] SCHNZP opened #62 "RNRC - speeding up parameter entry - suggestion"
I'm finding if I am running the tool iteratively over similar datasets it's a bit time consuming to re-enter all the parameters each time. Would it be possible to have it keep the last parameters used and have it default to those, then you can just tweak the bands and file names/folders accordingly? Similarly, usually when setting an output file name and folder you just click on the little yellow

[2016-04-13 04:23] SCHNZP commented on #59
Thanks. Yes I was thinking after posting that how it would be dependent on/skewed by the axis settings.

Whether one band in time = one band in space is a question I was grappling with this afternoon in a different context. I was thinking about calculating a bang to buck ratio to be able to compare for example deployment to 2 days and 200m : x% reduction, 4 days 100m : y% reduction in the sense th

[2016-04-13 15:04] a517dogg opened #63 "running tool with definition query on"
I was able to get an error in the prediction zones tool when I had a restrictive definition query on the sample data. below is the error. The error code ("error executing function") is not super helpful; it might be better to have a specific code for when there is not enough data to perform the calculations.

Executing: CalculatePredictionZones Naperville_burglary_sample OFFENSE_DATE YESTERDAY 130

[2016-04-13 15:46] allisonmuise commented on #62
1) re-entering parameters: Unfortunately, re-initializing a GP tool clears all the values, and this isn't something I can control. To save time re-entering, you can access previous parameters from the Results window. I'm sure there is a way to do this in Pro, too, but in ArcMap, expand the Geoprocessing menu and open the Results window. After running a tool in the current session, you'll see the t

[2016-04-13 15:57] allisonmuise commented on #63
@a517dogg
I agree, [error code 999999](http://pro.arcgis.com/en/pro-app/tool-reference/tool-errors-and-warnings/999001-999999/tool-errors-and-warnings-999998-999999-999999.htm) is the source of MUCH frustration among both Esri users and employees! It is the catch-all GP message for when a tool fails for unknown reasons.

In this case, that message is being generated by the CreateConstantRaster GP

[2016-04-13 20:12] SCHNZP commented on #62
Cool. Thanks for the tip!

[2016-04-13 20:29] HPDAnalyst opened #64 "Repeat and near repeat tool crashes with global name not defined error"
I tried both geodatabase and file database versions. both in network folder as well as local drive.

Using the build from 04/13, after putting the parameters, the tool crashes with error global name 'spatial_band_field' is not defined

![hpd_rep_nrrep_spatial_band_field_error](https://cloud.githubusercontent.com/assets/18291921/14508237/5651b5d4-017b-11e6-9a0d-b612f651bc67.jpg)
![hpd_rep_nrrep_set

[2016-04-13 21:19] SCHNZP commented on #64
I've just had this too. A couple of lines are missing from the script for the classification in the latest update. Thanks to Allison's previous advice about adjusting the field names in the script I identified the following solution:

Open the script incident_classification.py in an editing software (it opened automatically in IDLE on my laptop, could also have used Notepad, but it only opens a co

[2016-04-13 21:50] SCHNZP opened #65 "Connector lines longer than maximum bandwidth"
Testing the updated tool on the Naperville sample, same parameters: 500,1000,1500 ft, 7, 14, 21 days.

New connection appears longer than the maximum spatial bandwidth (green line without pink line underneath, measurement shown as thin black line)
![image](https://cloud.githubusercontent.com/assets/18314779/14510594/50db2832-0226-11e6-889e-cb7c0ced0491.png)

Found another couple of examples:

![im

[2016-04-13 22:45] allisonmuise commented on #64
so weird! My copy still has those two lines. I don't know how that happened. Regardless, I just re-sync'd with GitHub. Either add the two lines @SCHNZP describes above, or re-download the ZIP and it should now work.

[2016-04-13 22:45] #62 closed

[2016-04-13 22:59] allisonmuise commented on #65
Yup - roughly 50 of the points are now getting processed an extra 2-3 times to take care of the issues with no originator & missed connections. I'm looking into options for multi-threaded processing for the next release.

As for the length:
It's fuzzy, but it looks like you are seeing Planar measurements. The Near tool is using Geodesic which may account for the offset. You can check by changing t

[2016-04-14 00:10] HPDAnalyst opened #66 "repeat near repeat additional error - list index out of range"
I have used the newest build after the last script update which did fix the global name not defined but now having an issue with "list index out of range"

![hpd_rep_nrrep_list_index_out_of_range_error](https://cloud.githubusercontent.com/assets/18291921/14513230/779bfcb2-019a-11e6-9028-1be82f8de70e.jpg)

[2016-04-14 00:50] SCHNZP opened #67 "Date format info/prompt/calendar for prediction zones tool"
For the Initial Processing Date would it be possible to (in order of preference):
- be able to pick a date from a pop up calendar
- have the field pre-entered with a predefined date format/template
- have in the field label the date format ie dd-mm-yyyy

[2016-04-14 00:52] SCHNZP commented on #67
oops I got that wrong yyyy-mm-dd.

[2016-04-14 01:52] SCHNZP opened #68 "Suggestion - add parameter fields to prediction zone feature class"
It would be useful to, in addition to or instead of the CREATEDATE field in the prediction zone feature class have a field that's the Initial Processing Date (the actual date, not just 'today' or 'yesterday' as entered in the tool parameters). Also to have the spatial and temporal influence parameters as fields as well. I'm running a bunch of iterations combining different spatial/temporal influen

[2016-04-14 04:24] SCHNZP opened #69 "Offences in prediction zones vs near repeats"
I would think that any offence that appears within a prediction zone should be classed as an NR, but that's not always the case. Example: prediction zones calculated based on initial processing date 11/3/16, spatial influence 500m, and temporal influence 5 days (ie offences from 11/3, 10/3, 9/3, 8/3, 7/3). An offence on 12/3/16 falls within a prediction zone but is not classed as a near repeat, an

[2016-04-14 05:07] SCHNZP commented on #69
Found an example in the Naperville dataset. Offence id 2010007184. If you run the RNRC with a temporal band of 21 days, and the prediction zones with 21 day spatial influence with initial processing date 11/6/16, this offence on 12/6/16 is within the prediction zone (it is an exact repeat spatially), but not classed as a repeat.

[2016-04-14 16:56] HPDAnalyst opened #70 "Can't process datetime values"
The last error of List index out of range is no longer occurring after I rebooted the machine and replaced all of the folder that the tool is in,

I can run the Naperville data with no problems even though it takes about 2 minutes longer to process on my machine,

When trying to run our data set that includes date and time in the occur date field, the invalid sql statement used error comes up (Nap

[2016-04-14 16:59] allisonmuise commented on #70
Nope - this should work with datetimes. I'll look into this and let you know when a fix is available.

[2016-04-14 16:59] allisonmuise commented on #66
non-repro per #70

[2016-04-14 16:59] #66 closed

[2016-04-14 16:59] HPDAnalyst commented on #70
Thanks

Safa Egilmez
Crime and Intelligence Analyst
Henderson Police Department, NV
(702) 267-4759

From: Allison Muise [mailto:notifications@github.com]
Sent: Thursday, April 14, 2016 09:59
To: Esri/crime-analysis-toolbox
Cc: Safa Egilmez
Subject: Re: [Esri/crime-analysis-toolbox] Invalid SQL statement used (#70)

Nope - this should work with datetimes. I'll look into this and let you know when a

[2016-04-14 17:08] allisonmuise commented on #67
Of each of these, the closest I can come is to pre-populate with the most recent date from the dataset. We chose to originally go with YESTERDAY as the default because we thought it would be the most commonly used, but we'll revis this based on your feedback.

[2016-04-14 17:16] allisonmuise commented on #68
That's a good test.

Is CREATEDATE valuable at all? If not, I can easily make it the processing date. I can add it as a new field, too, but I'd rather restrict the amount  of 'junk' fields if they aren't helpful.

The tools won't filter the output by default, that's up to you to set the definition query. That being said, if the mxd of web map is saved with the definition query/filter in place, onl

[2016-04-14 17:25] allisonmuise commented on #69
ok - I see it. I suspect the tool is including the dates at both ends in the count which puts the difference between them at 22 days instead of 21. I'll look into this.

[2016-04-14 17:28] HPDAnalyst commented on #69
Thanks

Safa Egilmez
Crime and Intelligence Analyst
Henderson Police Department, NV
(702) 267-4759

From: Allison Muise [mailto:notifications@github.com]
Sent: Thursday, April 14, 2016 10:26
To: Esri/crime-analysis-toolbox
Subject: Re: [Esri/crime-analysis-toolbox] Offences in prediction zones vs near repeats (#69)

ok - I see it. I suspect the tool is including the dates at both ends in the count

[2016-04-14 21:06] SCHNZP commented on #68
I think that the parameters including initial processing date are more useful than CREATEDATE and agree about junk fields so would happily lose the CREATEDATE. Others may have differing opinions?

Cool. Once I had the definition query on it just automatically updated to the MOSTRECENT each time I ran the tool yesterday so that works fine.

[2016-04-14 21:11] SCHNZP commented on #67
That sounds like a good solution because in an operational setting if this is being used daily to produce daily deployment maps based off the most recent data, the most recent date from the dataset will usually be 'yesterday' anyway. I managed to bungle the date entry twice before getting the right format (short term memory fail!) so having that format pre-populated or prompted will be helpful.

[2016-04-18 20:31] HPDAnalyst opened #71 "Invalid Parameters error for Prediction Zones"
I have left the values as close to the default as possible like the example with Naperville. Our default c:documents and settings is mapped to a network location (due to city requirements, I am sure other cities are similar). when I run the prediction zones, error invalid parameters comes up

![hpd_rep_pred_zones_settings](https://cloud.githubusercontent.com/assets/18291921/14618916/c9975066-0569-

[2016-04-19 13:35] a517dogg commented on #63
It was just a definition query that excluded all points. It was a leftover query looking for origin points, when I had reloaded the data and there weren't any points classified as origin yet.

[2016-04-19 14:02] a517dogg opened #72 "suggestion - add parameters for time period of risk for prediction zones"
So my understanding of the prediction zones is that it's the risk over the next 24 hours.
So I think a useful way to use this tool would be to direct either spare patrol resources or overtime resources for the duration of a shift. However shifts don't last 24 hours. So it would be nice to be able to tailor the prediction zones to the risk of an offense occurring during the relevant shift.
If we're

[2016-04-19 14:09] a517dogg opened #73 "near repeat bug"
Joe Silva at RPD and I have passed the near-repeat tools the same parameters on the Napierville example data. It worked on Joe's computer and has repeatedly failed with the same error message on my computer. Not sure why. The listed error message is "global name 'spatial_band_field' is not defined."
Arcmap 10.4, Arcinfo license, spatial analyst extension enabled.
![nearrepeatfail](https://cloud.gi

[2016-04-19 15:22] allisonmuise commented on #71
@HPDAnalyst
several questions to help me fully understand this issue:

1) Does the path mentioned in the error message exist? In ArcCatalog (or ArcMap's Catalog window) can you navigate to the path C:\Documents and Settings\sfe\My Documents\ArcGIS\Default.gdb?
2) In your ArcGIS Environment settings, what is the scratch workspace? In ArcMap/Catalog, go to the Geoprocessing menu and open the Environ

[2016-04-19 15:23] allisonmuise commented on #63
ok, thanks! I'll add a check to make sure there are features in the dataset.

[2016-04-19 15:42] allisonmuise commented on #72
@a517dogg:
These are good points that we'll be considering in future development work, although they are outside the scope of this first version :) We are definitely looking at how we do additional (heavier) analysis work by incorporating R into the GP tools.

To address your point about the duration of risk that is reflected in the zones that are drawn - it's really the current risk as of right n

[2016-04-19 15:43] allisonmuise commented on #73
@a517dogg: Try downloading the tool again. There was a brief window when there was an issue that produced this message, but it has since been fixed.
#64

[2016-04-19 15:43] #73 closed

[2016-04-19 15:45] allisonmuise commented on #64
Actually - I just checked and that error has been re-introduced. Give me 5 mins and then download!

[2016-04-19 16:01] HPDAnalyst commented on #71
Allison,

The path actually exists BUT I do not have access to it, LOL. IT has it blocked for all users even though ArcGIS installs that as default scratch work space. They have all of our local Documents and setting located at a server location which is channeled through from C to the network location that is transparent to us (but I guess not for ArcGIS)

I have been running ArcGIS with that def

[2016-04-19 17:48] allisonmuise commented on #71
Oh good! Glad that fixed it. When you run tools manually you probably update the path to something you can access. I'm using that scratch workspace setting to store all the intermediate datasets. @WalterPotts  and I will make sure that this is listed as an Environment setting used by the tool to help others troubleshoot this issue if they come across it.

The 298% drives me crazy. I think it's bec

[2016-04-19 17:52] BobBooth commented on #71
@allisonmuise - I noticed that % complete issue too. I'd like to see it fixed, it is just wrong.

[2016-04-19 17:59] allisonmuise commented on #71
@BobBooth agreed. I haven't been able to reproduce it locally in a few quick tests which makes getting a fox from the core team more difficult. Unless it's having a major impact on the user experience, I'd like to push more investigation to v2 of the tools. I've tried overriding the messaging with my own, and all it does is add my messaging to the system messages and slow the tool to a crawl. If y

[2016-04-19 20:16] BobBooth commented on #71
@allisonmuise I put together a package that should make it easy to repro. Sent via email. Looks like a core issue. I wouldn't hold up your work for it, but would be nice to know what's up.

[2016-04-20 13:44] a517dogg opened #74 "minor irritant"
In both tools, the parameter titles are left-justified, but the parameters themselves are right-justified (other than the drop-downs). I personally find this annoying... it'd be nice to have everything left-justified, like most other toolboxes.

[2016-04-20 14:34] allisonmuise commented on #74
@a517dogg Can you provide an example of another Esri GP tool that has everything left justified? I'm not coding the UI so I can't control this, but if there's an inconsistency I can investigate why.

[2016-04-20 18:37] a517dogg commented on #74
For instance in the Create Space Time Cube tool:

![image](https://cloud.githubusercontent.com/assets/15637772/14686050/2c3b5360-0705-11e6-91e7-dc8522c9626a.png)

However the Kernel Density tool (the one I probably use the most) also has the same irritant... I've just never been able to complain to a developer before!

[2016-04-21 01:37] allisonmuise commented on #74
haha ok :)
I'll look into this and see if I can at least find an explanation for the inconsistencies.

[2016-04-21 23:42] SCHNZP opened #75 "A few issues with the latest update RNRC (20/4/16)"
Running the latest RNRC version on the Naperville dataset, listing all these issues here as they may be different symptoms of the same issue.

1. Output volumes and percentage add to more than the sample size, more than 100% (suspect maybe it's counting connections rather than points since we now have a lot more connections??):
![image](https://cloud.githubusercontent.com/assets/18314779/14727204/

[2016-04-21 23:45] SCHNZP commented on #75
Another potentially relevant observation: The Results screen says there were 432 incidents yet there are 541 features in the attribute table.

[2016-04-21 23:58] SCHNZP commented on #65
Sorted by way of switching to geodesic measurement, thanks, so this can be closed.

[2016-04-25 20:37] allisonmuise commented on #65
@SCHNZP
great! I like these easy fixes ;)

[2016-04-25 20:37] #65 closed

[2016-04-25 20:39] allisonmuise commented on #75
Thanks @SCHNZP : Could you hold off testing this tool for a few more days? I've been out of the office and I'm just catching back up. We aren't quite done with the updates based on your earlier observations.

[2016-04-28 15:08] allisonmuise commented on #71
@BobBooth : agreed. I'll investigate further once this tool is out the door.

[2016-04-28 15:08] allisonmuise opened #76 "prediction zones messaging totals > 100%"

[2016-04-28 15:09] allisonmuise commented on #71
messaging issue moved to #76

[2016-04-28 15:09] #71 closed

[2016-05-04 23:09] HPDAnalyst opened #77 "Vast Difference between using File Geodatabase vs Personal Geodatabase for Prediction zones"
I have tested the newest prediction zones tool for saving the results into File Geodatabase vs Personal Geodatabase. I used the point data that I saved to a file geodatabase in both cases (have not tried using a personal geodatabase point set yet)

I used the same settings for both of them and they both completed the calculation around 16 minutes. The tool display is vastly different in the two.

[2016-05-05 04:45] SCHNZP opened #78 "INCCLASS = NR or R but TIMEBAND = NULL"
Running the updated RNRC on the Naperville data...

Output:
![image](https://cloud.githubusercontent.com/assets/18314779/15036217/1bdadeb4-12e0-11e6-978f-2068bebe2048.png)
![image](https://cloud.githubusercontent.com/assets/18314779/15036222/282cd53c-12e0-11e6-8cae-eaa0c74a32e8.png)

Some offences are classified as N or NR but the TIMEBAND is NULL - surely every R/NR should have a timeband?
![imag

[2016-05-05 12:08] cdelaney585 commented on #77
Safa- do both output rasters have the same projection?

[2016-05-05 14:52] HPDAnalyst commented on #77
Yes they are all in State plane NV East Fips 2701

Safa Egilmez
Crime and Intelligence Analyst
Henderson Police Department, NV
(702) 267-4759

From: cdelaney585 [mailto:notifications@github.com]
Sent: Thursday, May 05, 2016 05:09
To: Esri/crime-analysis-toolbox
Cc: Safa Egilmez; Author
Subject: Re: [Esri/crime-analysis-toolbox] Vast Difference between using File Geodatabase vs Personal Geodatabase

[2016-05-05 16:11] allisonmuise commented on #78
@SCHNZP : The tool no longer calculates the bands for the incident features because one incident may fall into several different space/time bands relative to other incidents.

[2016-05-05 16:13] allisonmuise commented on #78
@SCHNZP : The bands are visible on the line features (as the maximum band size the connection fits into)

[2016-05-05 19:49] a517dogg commented on #77
I got similar results with the prediction zones, where I only have two levels, and lots of squares. I tried saving the raster to a folder instead of a geodatabase and I got this error message:
Executing: CalculatePredictionZones "Crime Categories\Burglary\60 Day\Burglary 60 Days" occur_date YESTERDAY 1000 500 14 7 CUMULATIVE "\\rpdfs.cor.local\mcac$\MCAC Operations\Personal Folders\Martin\beta tes

[2016-05-05 19:55] allisonmuise commented on #56
Closing - tool now draws connections between all nearby features.

[2016-05-05 19:55] #56 closed

[2016-05-05 19:57] allisonmuise commented on #59
closing - there isn't a good way to calculate a field for each chain as several chains may now intersect. The original connection issue has been resolved by connecting all nearby features, regardless of which is nearest.

[2016-05-05 19:57] #59 closed

[2016-05-05 19:58] allisonmuise commented on #61
Closing - this is not possible now that the tool creates interconnected chains

[2016-05-05 19:58] #61 closed

[2016-05-05 19:58] allisonmuise commented on #63
@a517dogg : Can you re-test this with the latest tools to verify that I've addressed the issue?

[2016-05-05 19:59] allisonmuise commented on #64
closing since there hasn't been any further reports of this issue

[2016-05-05 19:59] #64 closed

[2016-05-05 20:00] allisonmuise commented on #67
@SCHNZP we'll make sure to have this documented in the tool help as well as the solution help

[2016-05-05 20:00] #67 closed

[2016-05-05 20:10] SCHNZP commented on #78
Makes sense - will just have to symbolise the lines by temporal band rather than the points then. Thanks!

[2016-05-05 20:32] allisonmuise commented on #74
@a517dogg : as best I can tell, string (text) parameters show their value left-aligned, and numeric parameters show their values right-aligned. Microsoft Excel does this, too, and it appears to be a standard:http://ux.stackexchange.com/questions/13795/is-there-a-standard-to-left-justify-text-and-right-justify-numeric-values

[2016-05-05 20:39] allisonmuise commented on #75
@SCHNZP Please confirm that the tool is now reporting the correct number of incidents

We'll come back to this in a future release of the tools. For now you could use ModelBuilder to select each of the O features, use Select By Location to select all features within a distance of the O, and then use POint to Line to create a line feature that connects all the pts in order of date.

Addressed in an

[2016-05-05 20:39] allisonmuise commented on #76
resolved

[2016-05-05 20:39] #76 closed

[2016-05-05 20:46] allisonmuise commented on #77
@HPDAnalyst @a517dogg
Can you tell me more about your overall workflows? Are you testing pgdbs as an alternative test scenario, or are pgdbs the method of data storage used by your organizations? Asked another way - would you be attempting to use a pgdb as part of your actual near-repeat analysis workflow, and if so, why?

I'm actively investigating the differences between raster storage and scrat

[2016-05-05 20:48] allisonmuise commented on #78
you can also put a def query on the lines to see only a specific band (eg TIMEBAND <=7 AND SPACEBAND <=1500) and then use a combination of Select By Location and Create Feature Layer to create a view of the point feature class that only includes points that touch those lines

[2016-05-05 20:49] #78 closed

[2016-05-05 20:53] HPDAnalyst commented on #77
In our agency, we do not use the file geodatabases to store crime info since it is proprietary and we can’t access them using Crystal Reports. We always use personal geodatabases.

For this Beta testing, I have the crime point data saved both in personal geodatabase as well as file geodatabase.

I have been using the file geodatabase point data so far. But we will not be using that in our producti

[2016-05-06 00:51] SCHNZP commented on #75
I reran it now with the output fields cleared from the dataset first. Still appears to be adding to more than 100%. The overall count and % seems right (49% NRs, 18% Rs, 100% all incidents) but the breakdown table by time and distance bands says 22% Rs within 21 days and 123% NRs within 21 days and max distance band 1500ft.
![image](https://cloud.githubusercontent.com/assets/18314779/15061410/3537

[2016-05-06 01:01] SCHNZP opened #79 "Connections featureclass: RPTDAYS and SPACEBAND switch and max vs min band"
I think the column headers/data fields are the wrong way round in the Connections output feature class as the RPTDAYS for the Naperville dataset are all 1500 and the SPACEBAND are variable 1 5 7 2 24 19 etc. Also, because all connections are within the maximum TIME and SPACE BANDS by definition, (hence all rows are 1500ft and 21 days in below screenshot) I wonder if it would be more useful for thi

[2016-05-06 03:00] SCHNZP opened #80 "RNRC error: Field is not nullable"
Running the updated RNRC tool on an existing dataset that I had successfully run the previous versions on (including having cleaned existing RNRC output attributes from it), got this error. Also noted that the dataset has 720 records, although it says 693 processed.

![image](https://cloud.githubusercontent.com/assets/18314779/15063113/41a7289e-139b-11e6-9723-4aa00dd58c86.png)

[2016-05-06 03:10] SCHNZP opened #81 "RNRC error: can't compare datetime.datetime to nonetype"
Running the RNRC on a new burglary dataset keeps returning this error despite various experiments as to formatting of date fields and file types to shp file from (xls/csv):
![image](https://cloud.githubusercontent.com/assets/18314779/15063222/61d35542-139c-11e6-83c3-86f391e793b9.png)

[2016-05-06 13:42] a517dogg commented on #63
With the toolbox I downloaded yesterday, I put the following definition query on that excluded all points: RESCITY <> 'Naperville'

I ran these parameters:
![image](https://cloud.githubusercontent.com/assets/15637772/15074774/c176b21a-136e-11e6-9f37-5a07f4c19078.png)

I got this result:
Executing: CalculatePredictionZones Naperville_burglary_sample OFFENSE_DATE YESTERDAY 2000 1000 14 7 CUMULATIVE

[2016-05-06 17:36] allisonmuise commented on #75
@SCHNZP : Could you try again with the latest code? This was an issue a few days ago, but should be fixed in the current tool

[2016-05-06 17:36] allisonmuise commented on #79
@SCHNZP : Could you try again with the latest code? This was an issue a few days ago, but should be fixed in the current tool

[2016-05-06 17:40] allisonmuise commented on #80
I am unable to reproduce either of these errors using the Naperville data, or any of our other text datasets.

Are there any features in your data that are within 1 map unit and 5 days of one another?

Are you getting the invalid count on the same run that is throwing this error, or another run that is completing successfully?

[2016-05-06 17:47] allisonmuise commented on #81
@SCHNZP : Does every feature in that dataset have a valid date? Can you zip this dataset and email it to me? That error will be easier for me to handle if I can figure out exactly what's different about the record that's throwing it.

[2016-05-06 18:03] allisonmuise commented on #69
@HPDAnalyst : Are you still seeing this issue?

[2016-05-06 18:11] allisonmuise commented on #63
@a517dogg : should be fixed in current tool. Please test!

[2016-05-06 18:24] allisonmuise commented on #63
@a517dogg : hang on, put the check in the wrong tool...

[2016-05-06 18:29] #74 closed

[2016-05-06 18:58] allisonmuise commented on #63
ok! NOW it's fixed!

[2016-05-06 19:01] allisonmuise commented on #68
@SCHNZP : Tool should now add fields to both the service and the input layer for the input parameters - initial date, spatial band, temporal band. I left createdate in as it's the only way to know when it was run

[2016-05-06 20:31] allisonmuise commented on #77
@HPDAnalyst : I can't reproduce this issue when the incidents are stored in an mdb and the output raster is written to either the mdb or a folder.

What is your scratch workspace? (in ArcMap > Geoprocessing menu> Environments > Workspace > Scratch Workspace

I also wonder if you're running up against some space limitations of mdbs....
Is this a dataset you can share with me via email? amuise at es

[2016-05-06 20:49] a517dogg commented on #63
Yup, now it passes a specific error code, insufficient features for processing. Also it's much quicker to return that error code.

Executing: CalculatePredictionZones Naperville_burglary_sample OFFENSE_DATE YESTERDAY 2000 1000 15 6 CUMULATIVE "\\rpdfs.cor.local\mcac$\MCAC Operations\Personal Folders\Martin\beta test ESRI" C:\Users\am4337\Desktop\ExampleData.gdb\PredictionZones 5 # NONE # # # #
Sta

[2016-05-06 21:03] allisonmuise commented on #63
good stuff

[2016-05-06 21:03] #63 closed

[2016-05-08 03:07] SCHNZP commented on #75
Now this is odd: I changed that dataset from a featureclass to a shpfile before running the new tool on it. With the latest code and using each of the 3 date fields in that dataset it now produces the NOT NULLABLE error. I have sent you through the dataset by email. Then I ran the RNRC on the featureclass version and it has worked - no error!

[2016-05-08 03:10] SCHNZP commented on #79
Latest code has separate columns for space/time band combinations so this is no longer an issue.

[2016-05-08 03:17] SCHNZP commented on #75
oops that comment was supposed to be under issue 81. Have updated.

Re the %ages - appears fixed in latest code. Naperville table now says total 39.4 withn 21 days 1500ft in the table. Though the summary table with the overall number of offences, Rs and NRs has gone?

[2016-05-08 03:17] SCHNZP commented on #81
Now this is odd: I changed that dataset from a featureclass to a shpfile before running the new tool on it. With the latest code and using each of the 3 date fields in that dataset it now produces the NOT NULLABLE error. I have sent you through the dataset by email. Then I ran the RNRC on the featureclass version and it has worked - no error!

[2016-05-08 03:22] SCHNZP commented on #68
Makes sense. Thanks!

[2016-05-08 19:26] SCHNZP commented on #80
I reran with this dataset which was a shp file and it reproduced the error. I then converted the shp to featureclass and it worked. This is consistent with what I found in relation to issue 81.

[2016-05-08 19:32] SCHNZP commented on #80
Oh and there were 9 features within 1 map unit and 5 days in this dataset.

The counts and percentages look right (though higher than previous iterations of the tool e.g. 38% is now 45% within 500m and 5 days).

[2016-05-09 00:28] SCHNZP commented on #81
Had the datetime.datetime error recurr but found a fix - there was one row in the featureclass with all null values. Deleting that row solved it. Has happened for a couple of recently created datasets, not sure why it's inserting the extra blank row in them.

[2016-05-09 15:34] #79 closed

[2016-05-09 15:36] allisonmuise commented on #75
@SCHNZP : Yes, that was deliberate. These counts would not each require a table per space/time band combo which made the report quite large, and the numbers can be easily discovered from the data.

[2016-05-09 15:36] #75 closed

[2016-05-09 15:37] #68 closed

[2016-05-10 20:39] allisonmuise commented on #77
@HPDAnalyst : we've been unable to come up with a repro case for this in-house, and without more information there's not much I can do to track this down. I'm going to push this issue to the next release and keep an eye out for a repro case. If you can share your dataset, computing specs, and ideally your dataset, it will make tracing this for v2 much easier.

[2016-05-10 21:20] #81 closed

[2016-05-10 21:21] allisonmuise commented on #81
update should check for valid date values when processing. If an invalid value is found, you should get a warning message about which feature was skipped and why, but the tool should continue with the next feature

[2016-05-10 21:24] SCHNZP commented on #69
I just went to test this with the Naperville data but it failed:
![image](https://cloud.githubusercontent.com/assets/18314779/15163008/2bdad156-175a-11e6-9de4-99ed55e15990.png)
![image](https://cloud.githubusercontent.com/assets/18314779/15163013/309c4210-175a-11e6-98c2-14007424c209.png)

[2016-05-10 22:26] allisonmuise commented on #69
@SCHNZP It looks like you're missing some of the arcrest files. Can you re-download the tools from github, re-extract the zip, and try running them again?

[2016-05-10 23:27] SCHNZP commented on #69
ok I have done that but it's still coming up with the same error.

[2016-05-11 16:39] #80 closed

[2016-05-11 16:40] allisonmuise commented on #80
The script was inserting a null value in a way that wasn't supported by shapefiles. I've changed the value used when a classification can't be assigned from None to an empty string ('')
This should work for both shapefiles and feature classes.

[2016-05-11 16:50] HPDAnalyst commented on #77
Allison,

how can I send the data only to you?

[2016-05-11 16:55] allisonmuise commented on #77
amuise at esri dot com
(without the spaces and with the usual email substitutions, of course)

[2016-05-11 16:56] HPDAnalyst commented on #77
Thx

Safa Egilmez
Crime and Intelligence Analyst
Henderson Police Department, NV
(702) 267-4759

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, May 11, 2016 09:55
To: Esri/crime-analysis-toolbox
Cc: Safa Egilmez; Mention
Subject: Re: [Esri/crime-analysis-toolbox] Vast Difference between using File Geodatabase vs Personal Geodatabase for Prediction zones (#77)

amuise at esr

[2016-05-11 17:05] allisonmuise commented on #69
@SCHNZP : I can't reproduce this message with any dataset, and the error message is stating that it can't find specific scripts that are part of arcrest (python module found in the scripts folder). I'm going to send you an email.

[2016-05-11 20:05] allisonmuise commented on #70
@HPDAnalyst : I can't reproduce this issue on the latest version of this tool. Can you? If so, can you repro this on the same dataset you're sending me through Box?

[2016-05-11 20:20] HPDAnalyst commented on #70
Ok,

Will try now,

Can you send me the box account?

Safa Egilmez
Crime and Intelligence Analyst
Henderson Police Department, NV
(702) 267-4759

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, May 11, 2016 13:05
To: Esri/crime-analysis-toolbox
Cc: Safa Egilmez; Mention
Subject: Re: [Esri/crime-analysis-toolbox] Can't process datetime values (#70)

@HPDAnalyst<https://github

[2016-05-11 20:41] HPDAnalyst commented on #70
Used the new code and it is still same problem

Safa Egilmez
Crime and Intelligence Analyst
Henderson Police Department, NV
(702) 267-4759

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, May 11, 2016 13:05
To: Esri/crime-analysis-toolbox
Cc: Safa Egilmez; Mention
Subject: Re: [Esri/crime-analysis-toolbox] Can't process datetime values (#70)

@HPDAnalyst<https://github.com/H

[2016-05-11 20:43] allisonmuise commented on #70
ok, good.
I'll take a look once we get Box set up

[2016-05-11 21:29] allisonmuise commented on #70
@HPDAnalyst : My results (same for fgdb version of the data):

![2016-05-11 2-28-16 pm](https://cloud.githubusercontent.com/assets/2752195/15197158/bdb8962e-1784-11e6-882d-801557d6b5b3.png)

[2016-05-11 21:30] HPDAnalyst commented on #70
How does it display on the map?

Safa Egilmez
Crime and Intelligence Analyst
Henderson Police Department, NV
(702) 267-4759

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, May 11, 2016 14:29
To: Esri/crime-analysis-toolbox
Cc: Safa Egilmez; Mention
Subject: Re: [Esri/crime-analysis-toolbox] Can't process datetime values (#70)

@HPDAnalyst<https://github.com/HPDAnalyst> : My

[2016-05-11 22:29] allisonmuise commented on #70
points show up fine, and classifications look good.
Still playing with the other issue. Sometimes I can repro, sometimes I can't.

[2016-05-11 22:32] allisonmuise commented on #77
@HPDAnalyst : I was able to reproduce this once - the first time I ran the tool against your data. I've run it 3x since with the identical settings and every time it's produced the expected results.

Does it work for you when you don't mix mdb and fgdb environments?
Will your organizations workflows allow you to run these tools in only one of those environments (at least for the first version of t

[2016-05-11 22:37] allisonmuise commented on #70
@HPDAnalyst : What version of ArcGIS are you using?

[2016-05-11 22:46] HPDAnalyst commented on #70
Using arcgis 10.3.1

On a 64Bit Windows 7 workstation
Xeon W3670
12GB RAM

Safa Egilmez
Crime and Intelligence Analyst
Henderson Police Department, NV
(702) 267-4759

From: Allison Muise [mailto:notifications@github.com]
Sent: Wednesday, May 11, 2016 15:38
To: Esri/crime-analysis-toolbox
Cc: Safa Egilmez; Mention
Subject: Re: [Esri/crime-analysis-toolbox] Can't process datetime values (#70)

@HPDA

[2016-05-11 23:13] HPDAnalyst commented on #77
Same problem happening if I use all personal geodatabases (for points as well as storing the prediction zones

![5-11-2016 persgeo_pred-zone-pers_boundary](https://cloud.githubusercontent.com/assets/18291921/15199479/43aac9d8-1793-11e6-8738-25c2f8650184.jpg)

[2016-05-12 14:11] WalterPotts opened #82 "Create NR toolset"
put all 3 tools in this toolset

[2016-05-12 17:19] HPDAnalyst commented on #77
This problem has been fixed by doing the following:

Change the scratch workspace to a new file geodatabase that is located at the same folder as the near repeat tool,

Have the rasters saved into the folder instead of the geodatabase

used the personal geodatabase and had no problems doing it the above way

Thanks for Chris taking the time to get this fixed

[2016-05-12 21:32] SCHNZP commented on #80
Just confirming I have tested the latest script as at 13/5/16 on the shapefile that produced the nullable error previously and now works fine, thanks.

[2016-05-13 16:15] allisonmuise commented on #80
great!

[2016-05-17 15:11] allisonmuise opened #83 "Add check for open editing session"
Hi All,
FYI minor error: created this error when I had opened the attribute table containing the Prediction Zones (polygons) to edit, ran the Calculate Prediction Zones and had not saved or stopped editing the attribute table:

Regards,
Spencer
![sc](https://cloud.githubusercontent.com/assets/2752195/15327634/fc673c1e-1c06-11e6-8029-274ceeb22b0f.jpg)

[2016-05-17 16:01] allisonmuise opened #84 "Add support for Python 3"
requires update to ArcREST

[2016-05-18 19:48] #15 closed

[2016-05-18 19:48] #16 closed

[2016-05-18 19:48] #17 closed

[2016-05-18 19:48] #82 closed

[2016-05-18 19:48] #77 closed

[2016-05-18 19:48] #70 closed

[2016-05-18 19:49] allisonmuise commented on #69
error message resolved

[2016-05-18 19:49] #69 closed

[2016-05-18 20:24] SCHNZP commented on #69
Thanks again for the session this morning. Having got the prediction zones tool back up and running I have tested it in relation to the original issue #69 and can confirm that Naperville offence  2010007184 is now classed as a repeat and within the prediction zone based on those same parameters as used above. So that confirms the fix to the tool to be consistent with the RNRC in terms of which dat

[2016-05-18 21:37] allisonmuise commented on #69
:+1:

[2016-09-19 13:46] LindsayThomas opened #85 "Update readme.md with shortlinks to help for Repeat and Near Repeat, add license.txt file to root of repo"
- [ ] Update readme.md in "Resources" section with shortlinks to help for  Repeat and Near Repeat
- [ ] Update repo to contain a license.txt file. Ensure the copyright says "Copyright 2016 Esri Inc." at the bottom of the file